<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Listeners">
<listeners> 
 <listener class-name="TestListener"></listener>
</listeners>

  <test  name="Login Test">
    <classes>
      <class name="LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
